/* write your override styles here */
body {
    background: black url(../images/sketch.jpg) no-repeat center;
    background-size: cover;
  }
  
  #wall {
    position: relative;
    margin: 40px auto;
    width: 980px;
    height: 622px;
    background: url(../images/wall.jpg) no-repeat center;
    -moz-box-shadow: 15px 15px 47px lime, -15px -15px 47px aqua;
    -webkit-box-shadow: 15px 15px 47px lime, -15px -15px 47px aqua;
    box-shadow: 15px 15px 47px lime, -15px -15px 47px aqua;
    border: 15px solid white;
    border-bottom: 60px solid white;
  }
  
  .ice-cream-tag, #bear-tag, #writing-tag, #peace-sign-tag, #spray-paint-can-tag, #miley-cyrus-tag, #girl-in-dress-tag {
    position: absolute;
    top: 0;
    left: 0;
    width: 980px;
    height: 622px;
  }
  
  .ice-cream-tag {
    background: url(../images/tag-1.png) no-repeat;
    z-index: 7;
    display: none;
  }
  
  #wall #bear-tag {
    background: url(../images/tag-2.png) no-repeat;
    z-index: 6;
    display: none;
  }
  
  div#wall #writing-tag {
    background: url(../images/tag-3.png) no-repeat;
    z-index: 5;
    display: none;
  }
  
  #wall #peace-sign-tag {
    background: url(../images/tag-4.png) no-repeat;
    z-index: 4;
    display: none;
  }
  
  div#wall .parent #spray-paint-can-tag {
    background: url(../images/tag-5.png) no-repeat;
    z-index: 3;
    display: none;
  }
  
  div#wall div.parent div:last-child div#miley-cyrus-tag {
    background: url(../images/tag-6.png) no-repeat;
    z-index: 2;
    display: none;
  }
  
  body div#wall div.parent div > #girl-in-dress-tag {
    background: url(../images/tag-7.png) no-repeat;
    z-index: 1;
    display: none;
  }